<div class="beer-card">
  <img src="<%= beer.image_url %>" alt="<%= beer.name %>">
  <h3><a href="/beers/<%= beer.id %>"><%= beer.name %></a></h3>
  <p><%= beer.description %></p>
  <p><em><%= beer.tagline %></em></p>
</div>